@model LBDataModel.Machine

@{
    ViewBag.Title = "Machines details";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Machine</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IpAdress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IpAdress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MachineId }) |
    @Html.ActionLink("Configure Backups", "Index", "BackupTask", new { id=Model.MachineId }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
