@model LBDataModel.Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Schedule</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BackupTask.SourceFolder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BackupTask.SourceFolder)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Time)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ScheduleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
