@model IEnumerable<LBDataModel.Schedule>

@{
    ViewBag.Title = "List of schedules";

    var backupTask = ((LBDataModel.BackupTask)ViewData["BackupTask"]);
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.DisplayNameFor(model => model.BackupTask.Machine.IpAdress)
    @backupTask.Machine.IpAdress
    <br/>
    @Html.DisplayNameFor(model => model.BackupTask.SourceFolder)
    @backupTask.SourceFolder
    <br/>
    @Html.DisplayNameFor(model => model.BackupTask.DestFolder)
    @backupTask.DestFolder
</p>

<p>
    @Html.ActionLink("Create New", "Create", new { id=backupTask.BackupTaskId }) |
    @Html.ActionLink("Back to the list of backup tasks", "Index", "BackupTask", new { id=backupTask.MachineId }, null)
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BackupTask.SourceFolder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BackupTask.SourceFolder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScheduleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ScheduleId })
        </td>
    </tr>
}

</table>
