@model LBDataModel.Log

@{
    ViewBag.Title = "System log details";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Log</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LogDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LogDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IpAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IpAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Service)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Service)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Message)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
