@model IEnumerable<LBDataModel.Log>

@{
    ViewBag.Title = "System log";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Refresh", "Index", "Log")

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LogDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LogDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IpAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service)
        </td>
        <td>
            @Html.DisplayFor(model => item.MessageType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
    </tr>
}

</table>

<script>
    setTimeout(function(){
        location.reload();
    }, 60000);
</script>